.block{
    font-size: 16px;
    width: 200px;
    display: inline-block;
    height: 100px;

}


.text-white1 {
    color: #ffffff;
    background-color: #491212;
}


.text-white2 {
    color: #ffffff;
    background-color: #595517;
}

.text-white3 {
    color: #ffffff;
    background-color: #1c4f13;
}

.text-white4 {
    color: #ffffff;
    background-color: #175947;
}


#d1 {
    background-color: #d51b1b;
}

#d2 {
    background-color: #cec425;
}

#d3 {
    background-color: #4ace25;
}

#d4 {
    background-color: #25cea1;
}

#o1 {
    background-color: #d51b1b;
    position: absolute;
    top: 167px;
    left: 8px;
}

#o2 {
    background-color: #cec425;
    position: absolute;
    top: 167px;
    left: 212px;
}

#o3 {
    background-color: #4ace25;
    position: absolute;
    top: 167px;
    left: 416px;
}

#o4 {
    background-color: #25cea1;
    position: absolute;
    top: 167px;
    left: 620px;

}
#q1 {
    background-color: #ffffff;
    position: absolute;
    top: 183px;
    left: 8px;
}

#q2 {
    background-color: #ffffff;
    position: absolute;
    top: 183px;
    left: 212px;
}

#q3 {
    background-color: #ffffff;
    position: absolute;
    top: 183px;
    left: 416px;
}

#q4 {
    background-color: #ffffff;
    position: absolute;
    top: 183px;
    left: 620px;

}

#p1 .text-white {
    color: #000000;
}
#p2 .text-white {
    color: #000000;
}
#p3 .text-white {
    color: #000000;
}
#p4 .text-white {
    color: #000000;
}

.block1 > div {
    background-color: #491212;
}
